$red-accent: 235;
$green-accent: 184;
$blue-accent: 93;

$color-accent: rgb($red-accent, $green-accent, $blue-accent);

$red-base: 62;
$green-base: 63;
$blue-base: 64;

$color-base: rgb($red-base, $green-base, $blue-base);
$color-white: white;
