$screen-small: 600px;
$screen-large: 768px;

[class*="col-"]{
  width: 100%;
  float: left;
}

.col-s12{
  width: 100%;
}

// Calculando porcentaje
@function col-width($col-number, $col-total){
  @return ($col-number/$col-total)*100%;
}

@media only screen and (min-width: $screen-large + 1){
  .col-3{
    width: col-width(3,12);
  }

  .col-6{
    width: col-width(6,12);
  }
}

@media only screen and (min-width: $screen-small + 1) and (min-width: $screen-large){
  .col-m3{
    width: col-width(3,12);
  }

  .col-m6{
    width: col-width(6,12);
  }

  .col-m9{
    width: col-width(9,12);
  }
}






