$screen-small: 600px;
$screen-large: 768px;

[class*="col-"] {
  float: left;
  width: 100%;
}

// Calculando porcentaje
@function col-width($col-number, $col-total){
  @return ($col-number/$col-total)*100%;
}


@media screen and (min-width: $screen-small) and (max-width: $screen-large){
  .col-m-3{
    width: col-width(3,12);
  }

  .col-m-6{
    width: col-width(6,12);
  }

  .col-m-9{
    width: col-width(9,12);
  }
}

@media screen and (min-width: $screen-large + 1){
  .col-3{
    width: col-width(3,12);
  }

  .col-6{
    width: col-width(6,12);
  }
}
