// partials
@import "partials/color";
@import "partials/fonts";
@import "partials/resolutions";

* {
  font-family: $base-font-family;
  margin: auto;
}

.title-capitan{
  color: $color-white;
  background-color: $color-accent;
  padding: 20px;
}

.container{
  display: table;
  width: 98%;
}

.nav{
  ul{
    padding: 10px;
    margin-bottom: 10px;
  }
  li{
    background-color: $color-base;
    color: $color-white;
    list-style: none;
  }
}

.aside{
  text-align: center;
  background-color: $color-base;
  color: $color-white;
}

.footer{
  margin-top: 30px;
  padding: 10px;
  background-color: $color-base;
  color: $color-white;
}